services:

  order-service:
    image: order-service:latest
    ports:
      - "8180:8080"
    depends_on:
      - mongo
    environment:
      TZ: Asia/Kolkata

  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    environment:
      TZ: Asia/Kolkata
      MONGO_INITDB_ROOT_USERNAME: mongo
      MONGO_INITDB_ROOT_PASSWORD: mongo123
    volumes:
      - ../../data/order-service/mongo/db:/data/db
      - ../../data/order-service/mongo/configdb:/data/configdb

  mongo-express:
    image: mongo-express
    restart: always
    depends_on:
      - mongo
    ports:
      - 8081:8081
    environment:
      TZ: Asia/Kolkata
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
      ME_CONFIG_MONGODB_ADMINUSERNAME: mongo
      ME_CONFIG_MONGODB_ADMINPASSWORD: mongo123
      ME_CONFIG_MONGODB_URL: mongodb://mongo:mongo123@mongo:27017/

networks:
  default:
    name: excoder_network